.header {
    background-color: #1F2937;
    padding:20px;
  }

.body{
    background-color: #1F2937;
    padding:20px;
  }

.body2{
    background-color: pink;
  }

.footer{
    background-color: brown;
  }